
[data-content] {
  margin: 0 auto;
  position: relative;
  background-color: var(--color-back);
  overflow-y: auto;
  transition: flex-grow 200ms ease-out;
}
.content {
  background-color: var(--color-back);
  .lt;
  .size(100%);
  pointer-events: auto;

  opacity: 1;
  transform: none;
  transition: opacity 200ms linear, transform 200ms ease-out;

  &.reveal {
    opacity: 0;
    transform: translateY(-2rem);
    transition: none;
  }

  article {
    padding: 1rem @screenPadding;
    @media only screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 150%;
    }
    &.article-totaltimeline {
      time { display: none; }
    }
    header {
      margin-bottom: 1rem;
      &:after {
        content: '';
        clear: both;
      }
    }
    h3, time {
      display: inline-block;
    }
    p {
      margin: .5rem 0 1rem;
      &:first-of-type {
        margin-top: 0;
      }
    }
    img {
      float: right;
      max-width: 50%;
      margin-left: 1rem;
    }
    button {
      float: right;
      margin-left: 0.5rem;
      border: 0;
      background-color: transparent;
      font-weight: 600;
      font-size: 1.5rem;
      &:hover { text-decoration: none; }
      svg {
        fill: currentColor;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  footer {
    margin-top: 1rem;
  }
}
