
#content {
	position: relative;
	background-color: @colorWhite;
}
.content {
	.lt;
	.size(100%);
	padding: 3rem;
}
dl {
	width: 50%;
	dt,dd {
		display: block;
		width: 25%;
		float: left;
	}
	dt {
		clear: left;
		font-weight: bold;
	}
}