/* apply a natural box layout model to all elements */

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background-color: @colorBackground;
}

body {
  font-size: @fontBaseSize;
  line-height: 1.6em;
  font-family: @fontNameBody;
  color: @colorText;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: @fontNameHeading;
}
h1 { font-size: 2em; line-height: 2.2em; }
h2 { font-size: 1.7em; line-height: 2em; }
h3 { font-size: 1.4em; line-height: 1.7em; }
h4 { font-size: 1.1em; line-height: 1.4em; }

a, button, label {
  cursor: pointer;
  color: @colorAnchor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:focus { outline: 0; }
}

img {
  background-color: @colorGrayLighter;
}

ul.list {
  list-style: disc;
  padding-left: 20px;
}


[data-before]:before {
  content: attr(data-before);
}
[data-after]:after {
  content: attr(data-after);
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.hide {
  display: none;
}