#pageHeader {
	a { color: @colorText; }
	h2 {
		font: bold 1rem/2rem 'Yanone Kaffeesatz', sans-serif;
		text-transform: uppercase;
	}
	nav {
		font: 400 1rem/2rem 'Yanone Kaffeesatz', sans-serif;
		a {
			margin-left: .5rem;
		}
	}
}