@font-face {
  font-family: 'totaltimeline';
  src:
    url('/fonts/totaltimeline.ttf?en45yf') format('truetype'),
    url('/fonts/totaltimeline.woff?en45yf') format('woff'),
    url('/fonts/totaltimeline.svg?en45yf#totaltimeline') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icn-"], [class*=" icn-"] {
  /* use !important to prevent issues with browser extensions that change /fonts */
  font-family: 'totaltimeline' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



// variables

@icn-stats-dots: "\e99b";
@icn-menu: "\e9bd";
@icn-lock: "\e98f";
@icn-unlocked: "\e990";
@icn-github: "\eab0";
@icn-plus: "\ea0a";
@icn-info: "\ea0c";
@icn-cross: "\ea0f";
@icn-pencil: "\e905";


// rules

.icn-stats-dots:before { content: @icn-stats-dots; }
.icn-menu:before { content: @icn-menu; }
.icn-lock:before { content: @icn-lock; }
.icn-unlocked:before { content: @icn-unlocked; }
.icn-github:before { content: @icn-github; }
.icn-plus:before { content: @icn-plus; }
.icn-info:before { content: @icn-info; }
.icn-cross:before { content: @icn-cross; }
.icn-pencil:before { content: @icn-pencil; }


// mixins

.icn-icon(){
  /* use !important to prevent issues with browser extensions that change /fonts */
  font-family: 'totaltimeline' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon(stats-dots){&:before{&:extend([class^="icn-"]);&:extend(.icn-stats-dots:before);}}
.icon(menu){&:before{&:extend([class^="icn-"]);&:extend(.icn-menu:before);}}
.icon(lock){&:before{&:extend([class^="icn-"]);&:extend(.icn-lock:before);}}
.icon(unlocked){&:before{&:extend([class^="icn-"]);&:extend(.icn-unlocked:before);}}
.icon(github){&:before{&:extend([class^="icn-"]);&:extend(.icn-github:before);}}
.icon(plus){&:before{&:extend([class^="icn-"]);&:extend(.icn-plus:before);}}
.icon(info){&:before{&:extend([class^="icn-"]);&:extend(.icn-info:before);}}
.icon(cross){&:before{&:extend([class^="icn-"]);&:extend(.icn-cross:before);}}
.icon(pencil){&:before{&:extend([class^="icn-"]);&:extend(.icn-pencil:before);}}


