html, body {
	height: 100%;
	overflow: hidden;
}

body {
	display: flex;
	.flex-direction(column);
	.align-items(stretch);
}

header {
	.flex(0 0 2rem);
	h1, h2 {
		display: inline-block;
	}
	#hamburger { display: none; }
	nav {
		display: inline-block;
		li {
			display: inline;
		}
	}
}

main {
	.flex(1 1 auto);
	display: flex;
	.flex-direction(column);
	.align-items(stretch);
}
	#overview {
		.flex(0 0 2rem);
		background-color: @colorGray;
	}
	#timeline {
		.flex(1 1 auto);
		background-color: @colorGrayLight;
	}
	#content {
		.flex(1 1 auto);
		background-color: @colorWhite;
	}

footer {
	.flex(0 0 2rem);
	background-color: @colorGray;
}

//////////////////////////


//		.events {
//			@pointSize: .4rem;
//			display: block;
//			.size(100%);
//			li {
//				display: inline-block;
//				.size(@pointSize);
//				.border-radius(@pointSize);
//				background-color: orangered;
//			}
//		}
		.event {
			@pointSize: .8rem;
//			@pointSize: 32px;
			.lt;
			.size(@pointSize);
			.transform(translateX(-.5*@pointSize));
//			margin-left: -.5*@pointSize;
//			.dim(@pointSize,2*@pointSize);
			.border-radius(@pointSize/2);
			background-color: #c2c85d;
			background-size: cover;
			&:after {
				content: '';
				.rt(50%,50%);
				.dim(0,3000%);
				border-right: 1px dashed #a6bebe;
			}
			&:hover {
			&:after {
			border-color: red;
			}
			}
			&[class^="event icon-"] {
				background-color: transparent;
				.border-radius(0);
				@pointSize: 32px;
				.size(@pointSize);
				.transform(translateX(-.5*@pointSize));
			}
			&.icon-explode {	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve"><polygon fill="none" stroke="#000000" stroke-miterlimit="10" points="10.355,11.034 6.445,2.877 13.602,7.75 16.026,1.861 18.765,7.766 29.011,3.269 23.496,11.794 27.681,14.728 23.927,17.113 29.832,22.236 20.642,20.711 20.563,26.46 16.535,22.393 13.328,28.611 11.607,21.298 2.3,28.22 9.3,16.683 2.104,11.755 "/></svg>'); }
			&.icon-star {		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve"><polygon fill="none" stroke="#000000" stroke-miterlimit="10" points="10.458,2.016 9.763,4.796 11.66,6.945 8.8,7.144 7.343,9.611 6.271,6.953 3.474,6.33 5.67,4.489 5.399,1.636 7.828,3.156 "/><polygon fill="none" stroke="#000000" stroke-miterlimit="10" points="24.888,5.425 27.2,8.175 30.777,7.829 28.876,10.878 30.312,14.173 26.822,13.308 24.133,15.69 23.878,12.106 20.781,10.284 24.11,8.935 "/><polygon fill="none" stroke="#000000" stroke-miterlimit="10" points="24.629,19.467 17.756,23.023 16.788,30.703 11.28,25.264 3.677,26.717 7.149,19.798 3.417,13.019 11.069,14.18 16.365,8.537 17.624,16.173 "/></svg>'); }
			&.icon-galaxy {		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve"><g><path d="M30.881,25.349c-2.216,2.65-5.336,4.564-8.756,5.299c-3.412,0.761-7.09,0.359-10.288-1.151c-1.596-0.762-3.079-1.764-4.35-3.018c-1.272-1.267-2.277-2.795-2.938-4.474c-1.326-3.354-1.208-7.275,0.382-10.575C5.73,9.77,6.822,8.312,8.29,7.099c1.467-1.159,3.227-1.961,5.085-2.257c1.856-0.297,3.799-0.139,5.579,0.53c1.783,0.646,3.408,1.749,4.648,3.276c1.195,1.549,1.929,3.485,1.955,5.466c0.063,1.978-0.55,3.979-1.709,5.606c-0.31,0.41-0.563,0.778-1.015,1.177c-0.443,0.398-0.888,0.69-1.388,0.937c-0.989,0.483-2.061,0.676-3.1,0.675c-1.045-0.009-2.069-0.195-3.08-0.642c-0.505-0.234-1.012-0.512-1.506-1.017c-0.242-0.246-0.489-0.566-0.662-1.005c-0.176-0.428-0.238-1.002-0.104-1.514v-0.001l0.008-0.054l0.244-0.463c0.537-1.016,1.184-1.947,1.856-2.858c0.687-0.901,1.4-1.781,2.224-2.577l-0.24,0.458c0.013-0.094,0.037-0.017,0.022-0.067c-0.006-0.048-0.14-0.2-0.355-0.328c-0.436-0.27-1.121-0.44-1.788-0.456c-1.357-0.047-2.728,0.491-3.495,1.47l-0.398,0.511l-0.266,0.422c-0.167,0.299-0.362,0.633-0.482,0.975c-0.275,0.679-0.459,1.404-0.5,2.141c-0.1,1.471,0.263,2.983,1.093,4.22c0.412,0.626,0.896,1.178,1.525,1.657c0.35,0.309,0.646,0.475,0.95,0.68c0.312,0.196,0.674,0.375,1.019,0.543c1.423,0.62,3.014,0.917,4.583,0.747c1.572-0.132,3.099-0.71,4.402-1.616c1.305-0.895,2.362-2.193,3.158-3.615c1.593-2.855,1.908-6.414,0.842-9.561c-0.525-1.574-1.381-3.043-2.509-4.279c-0.28-0.305-0.589-0.609-0.884-0.878c-0.33-0.285-0.66-0.57-0.99-0.813c-0.668-0.505-1.386-0.969-2.135-1.364c-3.001-1.58-6.556-2.138-9.937-1.522C7.553,2.288,4.375,4.066,2.049,6.651C4.277,3.984,7.42,2.055,10.867,1.33c3.438-0.756,7.142-0.329,10.354,1.214c0.804,0.387,1.567,0.841,2.305,1.357c0.378,0.261,0.716,0.532,1.054,0.803c0.359,0.303,0.68,0.599,1,0.921c1.265,1.287,2.257,2.849,2.895,4.55c1.293,3.398,1.109,7.359-0.569,10.653c-0.836,1.632-1.973,3.152-3.496,4.291c-1.506,1.135-3.31,1.895-5.198,2.126c-1.885,0.271-3.837-0.007-5.62-0.711c-0.442-0.193-0.871-0.385-1.304-0.635c-0.43-0.26-0.885-0.533-1.197-0.792c-0.772-0.547-1.493-1.284-2.061-2.09c-1.17-1.615-1.745-3.639-1.682-5.634c0.021-1.001,0.228-1.995,0.569-2.936c0.158-0.482,0.38-0.917,0.622-1.381l0.415-0.689l0.384-0.531c1.346-1.828,3.552-2.708,5.647-2.718c1.063,0.001,2.142,0.167,3.227,0.75c0.533,0.301,1.103,0.717,1.515,1.438c0.438,0.701,0.498,1.722,0.253,2.452l-0.021,0.061l-0.22,0.397c-0.555,1.002-1.22,1.919-1.911,2.816c-0.706,0.887-1.437,1.754-2.278,2.535l0.252-0.516l0,0c0.027-0.092,0.006-0.217-0.014-0.244c-0.02-0.034-0.014,0.007,0.046,0.067c0.1,0.127,0.349,0.301,0.621,0.435c0.56,0.277,1.263,0.443,1.942,0.47c0.682,0.026,1.359-0.078,1.935-0.335c0.586-0.27,0.996-0.591,1.472-1.233c0.887-1.156,1.396-2.604,1.4-4.085c0.038-1.482-0.467-2.958-1.329-4.172c-0.896-1.189-2.19-2.159-3.634-2.733c-1.438-0.602-3.041-0.79-4.602-0.598c-1.562,0.19-3.07,0.816-4.345,1.749c-1.236,0.939-2.328,2.261-3.065,3.693c-1.518,2.885-1.769,6.429-0.66,9.549c0.549,1.558,1.431,3.008,2.564,4.219c1.146,1.215,2.529,2.225,4.023,3.002c3.001,1.548,6.537,2.073,9.897,1.447C25.418,29.692,28.572,27.921,30.881,25.349z"/></g></svg>'); }
		}
	#overview, #timeline { .user-select; }
	#overview {
		position: relative;
	}
		.range {
			.lt;
			.size(100%);
			background-color: #a2c937;
			overflow: hidden;
			&:before, &:after {
				background-color: inherit;
				margin-top: 1rem;
			}
		}
		.show-range {
			&:before, &:after {
				font: bold .75rem/1rem Arial, Verdana;
				white-space: nowrap;
				z-index: 1;
			}
			&:before { .lt; }
			&:after { .rt; }
		}
	#timeline {
		position: relative;
		margin: 0 1rem;
		&.show-range {
			&:before, &:after {
				top: auto;
				bottom: 0;
			}
		}
	}
[data-before]:before {
	content: attr(data-before);
}
[data-after]:after {
	content: attr(data-after);
}