html, body {
	height: 100%;
	overflow: hidden;
}

body {
	display: flex;
	.flex-direction(column);
	.align-items(stretch);
}

header {
	.flex(0 0 2rem);
	h1, h2 {
		display: inline-block;
	}
	#hamburger { display: none; }
	nav {
		display: inline-block;
		li { display: inline; }
	}
}

main {
	.flex(1 1 auto);
	display: flex;
	.flex-direction(column);
	.align-items(stretch);
}
	#overview {	.flex(0 0 2rem); }
	#timeline {	.flex(1 1 auto); }
	#content {	.flex(1 1 auto); }

footer {
	.flex(0 0 2rem);
}