html, body {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}

body {
	.flex-display(flex);
	.flex-direction(column);
	.align-items(stretch);
}

#pageHeader {
	.flex-basis(2rem);
	h1, h2 {
		display: inline-block;
	}
	#hamburger { display: none; }
	nav {
		display: inline-block;
		li { display: inline; }
	}
}

main {
	.flex-grow(1);

	.flex-display(flex);
	.flex-direction(column);
	.align-items(stretch);
}
	#overview {	.flex-basis(2rem); height: 2rem; }
	#timeline {	.flex-grow(1); }
	#content {
		.flex-grow(1);
		.align-self(center);
		width: 100%;
		max-width: 800px;
	}

/*
footer {
	.flex-basis(1rem);
}*/
