
#overview {
	background-color: @colorGray;
	position: relative;
	.user-select;
	time {
		display: block;
		text-align: center;
		//margin: 0 auto;
	}
}
.range {
	.lt;
	.size(100%);
	min-width: 1px;
	background-color: #a2c937;
	overflow: hidden;
	&:before, &:after {
		background-color: inherit;
		margin-top: 1rem;
	}
}