#timeline {
	position: relative;
	margin: 0 1rem;
//	.user-select;
	background-color: @colorGrayLight;
	&.show-range {
		&:before, &:after {
			top: auto;
			bottom: -1rem;
		}
	}
}

.events {
//	.pointer-events;
	.lt;
	.size(100%);
//	background-color: rgba(255,0,0,.4);
}
	.event-wrap {
		.lt;
		height: 100%;
	}
		.event {
			.lt;
			z-index: 2;
			.size(@eventSize);
			.transform(translateX(-.5*@eventSize));
			.border-radius(@eventSize/2);
			background-color: #c2c85d;
			background-size: cover;
			&[class^="event icon-"] {
				background-color: transparent;
				.border-radius(0);
				.size(@eventIconSize);
				.transform(translateX(-.5*@eventIconSize));
			}
		}
		.line {
			.transform(translateY(@eventSize));
			.lb;
			border-right: 1px dashed #a6bebe;
		}


.periods {
	.lt;
	.size(100%);
	overflow: hidden;
}
	.period {
		.lt;
		min-height: 1rem;
		height: 100%;
		background-color: #005580;
		overflow: hidden;
		font-weight: bold;
		white-space: nowrap;
		text-indent: .4rem;
		cursor: pointer;
		&:hover {
			color: red;
		}
		.title {
			position: relative;
			font-size: .7rem;
			z-index: 1;
		}
	}