
// LAYOUT
//
// mobile
@headerHeightMobile: 40px;
@pagePaddingMobile: 10px;
@footerHeightMobile: 40px;
//
// desktop
@headerHeight: 214px;
@pagePadding: 20px;
@footerHeight: 1rem;

// fonts
@fontBaseSize: 12px;
@fontBase: 1em/1.4em Arial, Helvetica, sans-serif;
@fontNameHeading: Verdana, Helvetica, sans-serif;
@fontNameBody: Verdana, Helvetica, sans-serif;

// colors

@colorBackground:		@colorGrayLighter;
@colorPageBackground:	@colorWhite;
@colorText:				@colorGrayDark;

@colorAnchor:			@colorGreenDark;
@colorMenuHoverBg:		@colorGrayLight;

@colorWhite:			#FFF;
@colorBlack:			#000;

@colorOrange:			#FF7855;
@colorOrangeLight:		#FFB08B;
@colorGreenDark:		#007873;
@colorGreen:			#00AFA0;
@colorGreenLight:		#34BFB3;
@colorGreenLighter:		#66CFC6;
@colorGreenLightest:	#8CDBD4;
@colorGreenVeryLight:	#C6EBE8;
@colorGrayDark: 		#57635E;
@colorGray: 			#C0C9C4;
@colorGrayLight:		#E7ECE9;
@colorGrayLighter:		#F4FAFA;