<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	# Remove trailing slash
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R]
    # Except stuff from some folders
    RewriteRule ^(data|js|style)($|/) - [L]
	# otherwise use regular index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI}  ^/(.+)/? [NC]
	RewriteRule .*       /?q=%1       [R,NE,L]
	# RewriteRule .*       /?q=%1#%1           [R,NE,L]
</IfModule>